<nav class="navbar">
  <div class="navbar-brand">Detección de Patrones</div>
  <div class="hamburger" (click)="toggleNavbar()">☰</div>
  <ul class="navbar-links" [ngClass]="{'active': navbarOpen}">
    <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>

    <!-- Mostrar opciones si está logueado -->
    <li *ngIf="isAuthenticated"><a routerLink="/profile" routerLinkActive="active">Perfil</a></li>
    <li *ngIf="isAuthenticated"><a routerLink="/report" routerLinkActive="active">Reportes</a></li>
    <li *ngIf="isAuthenticated"><a routerLink="/validation" routerLinkActive="active">Validación</a></li>

    <!-- Mostrar login y registro si no está logueado -->
    <li *ngIf="!isAuthenticated"><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li *ngIf="!isAuthenticated"><a routerLink="/register" routerLinkActive="active">Registro</a></li>

    <!-- Botón de logout si está logueado -->
    <li *ngIf="isAuthenticated"><a (click)="authService.logout()" routerLink="/login" routerLinkActive="active">Cerrar sesión</a></li>
  </ul>
</nav>
